.white-background{
	-fx-background-color:#fff;
}
.transparent{
	-fx-background-color:rgba(0,0,0,0);
}
.t:hover{
		-fx-underline: false;
}
.transparent:hover{
	-fx-underline: false;
}
.round-layout{
	-fx-border-radius:50;
	-fx-border-color:#D7D7D7;
}
.selected{
	-fx-background-color:#F3F3F3;
}
.mouse-moved{
	-fx-padding:4px;
}
.mouse-moved:hover{
	-fx-background-color: #ADD8E6;
}
.text:hover{
	-fx-text-fill:#ff5056;
}
.exit:hover{
	-fx-font-size:20px;
}
.img_menu:hover{
	-fx-background-color: transparent;
}
.shadow{
	-fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0),10,0,0,10); 
}