<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">binvaloi123</property>
         <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/quan_ly_ban_hang</property>
          <property name="hibernate.connection.username">root</property>
          <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        

        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.use_sql_comments">false</property>
        <property name="hibernate.format_sql">false</property>


        <mapping class="AtttributeSanPham.Ram"/>
        <mapping class="AtttributeSanPham.Rom"/>
        <mapping class="AtttributeSanPham.Thuonghieu"/>
        <mapping class="AtttributeSanPham.Xuatxu"/>
        <mapping class="AtttributeSanPham.Hedieuhanh"/>
        <mapping class="AtttributeSanPham.Color"/>
        <mapping class="Model.Nhacungcap"/>
        <mapping class="Model.Khuvuckho"/>
        <mapping class="Model.Sanpham"/>
        <mapping class="Model.Taikhoan"/>
        <mapping class="Model.Khachhang"/>
        <mapping class="Model.Phieubansanpham"/>
        <mapping class="Model.Nhanvien"/>
        <mapping class="Model.PhieuNhap"/>
        <mapping class="Model.PhieuXuat"/>
        <mapping class="Model.ChitietSanpham"/>
        <mapping class="Model.ChitietPhieuNhap"/>
        <mapping class="Model.ChitietPhieuXuat"/>
        <mapping class="Model.Thongke_tongquan"/>
        <mapping class="Model.Thongkesp"/>
        
    </session-factory>
</hibernate-configuration>
